#badge{
  position: relative;
  margin: -40px auto 10px;
  width: 80%;
  height: 180px;
  padding: 0;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

/* entire container, keeps perspective */

.flip-container {
  perspective: 1000;
  -webkit-perspective: 1000;
}

#badge {
  transition: 0.2s;
  transition-delay: 0.4s;
}

#badge:hover {
  -webkit-transform: translate(5px, 20px) rotate(0.5deg) scale(1.1);
  -moz-transform: translate(5px, 20px) rotate(0.5deg) scale(1.1);
  transform: translate(5px, 20px) rotate(0.5deg) scale(1.1);
  transition-delay: 0s;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 100%;
}

/* flip speed goes here */
.flipper {
  transition: 0.8s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1%;
  padding-bottom: 10%;
  background-color: black;
  box-shadow: -5px 5px 5px #555;
  -webkit-box-shadow: -5px 5px 15px #555;
  -moz-box-shadow: -5px 5px 15px #555;
}

/* front pane, placed above back */
.front {
  z-index: 3;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  z-index: 4;
}

.sticky:after {
  content: "";
  height: 20px;
  width: 80px;
  background: rgba(255,255,255,0.5);
  position: absolute;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
     -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
          box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  top: 0;
  right: 8px;
  margin: -8px -40px 0 0;
  z-index: 1000;
  -webkit-transform:rotate(43deg);
  -moz-transform:rotate(43deg);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.sticky:hover:after {
  content: "";
  visibility: hidden;
}

#container {
  min-height: 100%;
  position:relative;
  padding: 1em 2em;
  margin: 0 auto;
}

#contentwrapper {
  position: relative;
  padding-bottom: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: display;
  border: 1px solid #CCC;
  display: inline-block;
}

#sidebar {
  position: relative;
  float: left;
  width: 20%;
  text-align: right;
  border-right: dashed 1px #DDD;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


#content {
  position: relative;
  padding: 10px 10px;
  width: 80%;
  float: right;
  margin: 0;
  border-bottom: dashed 1px #DDD;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#content:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

footer {
  height: 110px;
  position:absolute;
  clear: both;
  bottom: 0px;
  left: -10px;
  padding: 10px;
  text-align: center;
  width: 100%;
  margin: 0;
  background-color: #000;
  color: white;
  font-weight: bold;
  /*text-shadow: 2px 2px 1px #AAA;*/
}

footer div, footer p, footer ul{
  color: white;
  padding: 2px;
  margin: 3px;
}

footer a {
  color: #069;
  text-shadow: 1px 1px 1px #FFF;
}

footer a:hover {
  text-shadow: 0.1em 0.1em 0.1em #333;
  /*color: #ffd700;*/
}

.date {
  position: absolute;
  right: -10px;
  width: 10em;
  text-align: center;
  border-radius: 0px 0px 0px 15px;
  padding: 0.5em;
  background-color: #428bca;
  color: white;
  font-weight: bold;
}

h1 + .date {
  margin-top: -3.5em;
}

h2 + .date {
  margin-top: -2.5em;
}

.posthead {
  margin-bottom: 1.5em;
}

.posthead h2, h1 {
  margin-bottom: 0.5em;
}

header {
  position: relative;
  margin: 0;
  padding: 0;
}

#headline {
  margin: 0em;
  font-size: 4em;
  padding-left: 20%;;
  padding-top: 5px;
  font-family: comfortaa;
}

#headline a {
  color: black;
  padding: 0;
  margin: 0;
}

#headline a:hover {
  color: white;
  text-shadow: 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}


#social {
  margin: 0 auto;
  padding: 0;
}

/*#social:after {*/
  /*content: ".";*/
  /*display: block;*/
  /*clear: both;*/
  /*visibility: hidden;*/
  /*line-height: 0;*/
  /*height: 0;*/
/*}*/

#social li {
  position: relative;
  list-style-type: none;
  display: inline-block;
  height: 50px;
  width: 40px;
  padding: 0;
}

#social li a {
  margin: 0;
  position: absolute;
  text-align: center;
  font-size: 30px;
  left: 0;
  top: 0;
}

#social li a:hover {
  position: absolute;
  font-size: 80px;
  top: -15px;
  left: -10px;
  /*left: 10px;*/
  /*top: -50px;*/
  z-index: 100;
}

.entries dt {
  font-weight: bold;
  clear: both;
  border-top: dashed 1px #CCC;
}
.entries dd {
  float: right;
  margin: 2px;
}

#navbar {
  font-size: 1em;
  padding-left: 20%;;
}

div.navbar {
  background-color: black;
  border-radius: 20px 0px 0px;
}

.navbar ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

.navbar li {
  display:inline;
  color: white;
  text-align: center;
}  

.navbar li.active a {
  background-color: #F30;
  color: white;
  text-shadow: 0.1em 0.1em 0.1em black;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.navbar li a {
  text-decoration: none;
  display: inline;
  text-decoration: none;
  font-weight: bold;
  color: #CCC;
  border-right: 1px solid #555;
  padding: 0.5em 1em;
}
.navbar li:first-child a {
  border-left: 1px double #ccc;
}
.navbar li a:hover {
  position: relative;
  color: #000;
  background-color: #fff;
  text-shadow: 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  z-index: 10;
}

.navbar li.active a:hover {
  color: #c00;
}

a {
  color: #069;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-shadow: 1px 1px #069, -1px -1px 0 #069, 1px -1px 0 #069, -1px 1px 0 #069;
}

.label {
  font-family: comfortaa;
  border-radius: 10px 0px 0px 10px;
  padding: 5px;
  background-color: #ffd700;
  color: black;
  font-size: 10px;
  padding-left: 10px;
  border: 1px solid #777;
}

.label:after{
  content: " •";
  color: #666;
}

.postnav {
  height: 1em;
  width: 100%;
  padding: 15px 9px;
  margin-left: -10px;
  background-color: white;
  text-align: right;
  border: dashed 1px #AAA;
}

.previouspost {
  float: left;
}


.pagination {
  position: relative;
  height: 1em;
  width: 50%;
  padding: 10px;
  text-align: center;
  background-color: #FFF;
  z-index: 0;
}

.pag-top{
  /*margin: -9px auto;*/
  /*margin-bottom 0;*/
  /*border-radius: 0 0 15px 15px;*/
  /*border: dashed 1px #AAA;*/
  /*border-top-width: 0;*/
}

.pag-bottom {
  bottom: -10px;
  /*margin: 0 auto;*/
  /*border-radius: 15px 15px 0 0;*/
  /*border: dashed 1px #AAA;*/
  /*border-bottom-width: 0;*/
}

about ul {
  position: relative;
  width: 900px;
  margin: 0 auto;
}

#about li {
  line-height:1.5em;
  border-bottom:1px solid #DDD;
  float:left;
  display:inline;
  width: 33.333%;
}

#about i {
  /*background-color: #ffd700;*/
  /*padding: 5px;*/
  /*border-radius: 10px;*/
}

@-webkit-keyframes toright {
  from { 
    padding-left: 0px;
    opacity: 0;
  }
  to { 
    padding-left: 150px;
    opacity: 1;
  }
}

@keyframes toright {
  from { 
    padding-left: 0px;
    opacity: 0;
  }
  to { 
    padding-left: 150px;
    opacity: 1;
  }
}

@-webkit-keyframes appear{
  to { 
    opacity: 1;
  }
  from { 
    opacity: 0;
  }
}

@keyframes appear{
  to { 
    opacity: 1;
  }
  from { 
    opacity: 0;
  }
}

#subheadline {
  -webkit-animation-name:             toright; 
  -webkit-animation-duration:         4s; 
  -webkit-animation-iteration-count:  1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-name:             toright; 
  animation-duration:         4s; 
  animation-iteration-count:  1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.disappear {
  -webkit-animation-name:             appear; 
  -webkit-animation-duration:         4s; 
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count:  1;
  -webkit-animation-fill-mode: forwards;
  animation-name:             appear; 
  animation-duration:         4s; 
  animation-iteration-count:  1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
