#badge img {
    width: 80%;
}

#container {
  padding: 0em;
}

#contentwrapper {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#headline {
  position: relative;
  width: 100%;
  font-size: 2em;
  padding: 0.1em;
  margin: 0.1em;
  font-family: comfortaa;
  overflow: auto;
}

#headline a {
  font-size: 2em;
  font-family: comfortaa;
  text-decoration: none;
}

#headline a {
  color: black;
  padding: 0;
  margin: 0;
}

#headline a:hover {
  color: white;
  text-shadow: 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

#navbar {
  font-size: 1em;
  padding: 0.2em;
}

div.navbar {
  background-color: black;
}

.navbar ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

.navbar li {
  display:inline-block;
  color: white;
  text-align: center;
  padding: 0;
}  

.navbar li.active a {
  background-color: #F30;
  color: white;
  text-shadow: 0.1em 0.1em 0.1em black;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.navbar li a {
  text-decoration: none;
  display: inline;
  text-decoration: none;
  font-weight: bold;
  color: #CCC;
  border-right: 1px solid #555;
  padding: 0.5em 1em;
  display: block;
}
.navbar li:first-child a {
  border-left: 1px double #ccc;
}
.navbar li a:hover {
  position: relative;
  color: #000;
  background-color: #fff;
  text-shadow: 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  z-index: 100;
}


/* .label { */
/*   font-family: comfortaa; */
/*   border-radius: 10px 0px 0px 10px; */
/*   padding: 5px; */
/*   background-color: #ffd700; */
/*   color: black; */
/*   font-size: 10px; */
/*   padding-left: 10px; */
/*   border: 1px solid #777; */
/* } */

/* .label:after{ */
/*   content: " •"; */
/*   color: #666; */
/* } */
a {
  color: #069;
  text-decoration: none;
}

.navbar li.active a:hover {
  color: #c00;
}

#sidebar {
  display: none;
}

.postnav, .pagination {
  height: 1em;
  width: 100%;
  padding: 15px 9px;
  margin-left: -10px;
  background-color: white;
  border: dashed 1px #AAA;
  text-align: center;
}