<div id="sidebar" >
  <div id="badge" class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper sticky">
      <div class="front">
        <!-- front content -->
        <img id="avatar" src="{{ SITE_URL }}/theme/img/me.png">
      </div>
      <div class="back">
        <!-- back content -->
        <img id="picture" src="{{ SITE_URL }}/theme/img/me-bat.png">
      </div>
    </div>
  </div>

  
  <div class="entries">
    <h2 class="title">Latest entries</h2>
    <dl>
      {% for p in articles[:5] %}
      <dt><a href="{{ SITE_URL }}/{{ p.url }}">{{ p.title }}</a></dt>
      {% for c in p.tags %}
      <dd class="tag"><a class="label" href="/tag/{{ c }}.html">{{ c }}</a></dd>
      {% endfor %}
      {% endfor %}
    </dl>
  </div>
  <div class="about" style="clear:both;">
    <!-- <h2 class="title">About me</h2> -->
    <div class="icons">
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa-stack-2x" ></i><i class="fa fa-stack-1x fa-linux"></i></span><span class="explanation">Linux lover</span></span>
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa fa-stack-2x" ></i><i class="fa fa-android"></i></span><span class="explanation">Android dev</span></span>
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa fa-stack-2x" ></i><i class="fa fa-github-alt"></i> </span><span class="explanation">GitHub user</span></span>
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa fa-stack-2x" ></i><i class="fa fa-stack-exchange"></i> </span><span class="explanation">StackExchange fan</span></span>
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa fa-stack-2x" ></i><i class="fa fa-music"></i> </span><span class="explanation">Music lover</span></span>
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa fa-stack-2x" ></i><i class="fa fa-film"></i> </span><span class="explanation">Movie fan</span></span>
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa fa-stack-2x" ></i><i class="fa fa-comments"></i> </span><span class="explanation">Always on IM</span></span>
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa fa-stack-2x" ></i><i class="fa fa-laptop"></i> </span><span class="explanation">Always on a PC</span></span>
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa fa-stack-2x" ></i><i class="fa fa-pencil"></i> </span><span class="explanation">Occassional writter</span></span>
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa fa-stack-2x" ></i><i class="fa fa-moon-o"></i> </span><span class="explanation">Night owl</span></span>
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa fa-stack-2x" ></i><i class="fa fa-terminal"></i></span>      <span class="explanation">CLI user</span></span>
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa fa-stack-2x" ></i><i class="fa fa-flag"></i></span>      <span class="explanation">Linguist wannabe</span></span>
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa fa-stack-2x" ></i><i class="fa fa-code"></i> </span>           <span class="explanation">Love to code</span></span>
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa fa-stack-2x" ></i><i class="fa fa-book"></i></span>      <span class="explanation">Keen reader</span></span>
      <span class="coolicon"><span class="fa fa-stack"> <i class="fa fa-square-o fa fa-stack-2x" ></i><i class="fa fa-quote-right"></i></span>      <span class="explanation">Quotes on demand</span></span>
    </div>
  </div>

  <!--Sidebar content-->
</div>
