            {{ if .Site.Params.orderByPublishDate }}
                {{ $.Scratch.Set "recentPosts" .Site.RegularPages.ByPublishDate.Reverse }}
            {{ else }}
                {{ $.Scratch.Set "recentPosts" .Site.RegularPages }}
            {{ end }}

            {{ with .Site.Params.postAmount.sidebar }}
                {{ $.Scratch.Set "postLimit" . }}
            {{ else }}
                {{ $.Scratch.Set "postLimit" 5 }}
            {{ end }}

            {{ range first ($.Scratch.Get "postLimit") (where ($.Scratch.Get "recentPosts") "Type" "post") }}

    <dt><a href="{{ .Permalink }}">{{ .Title }}</a></dt>
    {{ .Render "item-tags" }}
    {{ end }}
