---
layout: default
---
<div class="postnav">
  <a href="{{ page.previous.url }}"><span class="previouspost"><i class="icon-chevron-sign-left"></i> {{ page.previous.title }}</a></span>
  <span class='nextpost'><a href="{{ page.next.url }}">{{ page.next.title }} <i class="icon-chevron-sign-right"></i></span></a>
</div>
<div class="posthead">
  <h2 class="title">{{ page.title }}</h2>
  <span class="meta date">{{ page.date | date_to_string }}</span>
  {% for c in page.tags %}
    <span class="label label-success">{{ c }}</span>
  {% endfor %}
</div>

<div class="post">
{{ content }}
</div>
